@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #cbd5e1;
  background-color: #0f172a; /* terminal-bg */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
